#### Importado y exportado de archivos csv

Primera parte del MySQL_MovieProject

In [1]:
import pandas as pd # Importamos las librerías
import numpy as np
import re
from datetime import datetime
from sqlalchemy import create_engine

In [2]:
pd.set_option('display.max_columns', None)  # ver todas las columnas

In [3]:
path = '../data/old_HDD.csv'

old_HDD = pd.read_csv(path)

old_HDD.head()

  first_name last_name                  title  release_year  category_id
0   PENELOPE   GUINESS       ACADEMY DINOSAUR          2006            6
1   PENELOPE   GUINESS   ANACONDA CONFESSIONS          2006            2
2   PENELOPE   GUINESS            ANGELS LIFE          2006           13
3   PENELOPE   GUINESS  BULWORTH COMMANDMENTS          2006           10
4   PENELOPE   GUINESS          CHEAPER CLYDE          2006           14

In [4]:
old_HDD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   first_name    1000 non-null   object
 1   last_name     1000 non-null   object
 2   title         1000 non-null   object
 3   release_year  1000 non-null   int64
 4   category_id   1000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 39.2+ KB

In [5]:
old_HDD.shape

(1000, 5)

In [6]:
old_HDD.isnull().sum() # Comprobamos si hay nulos

first_name      0
last_name       0
title           0
release_year    0
category_id     0
dtype: int64

In [7]:
# Vamos a borrar duplicados si los hubiera:
old_HDD.drop_duplicates(inplace=True)

In [8]:
# Pasamos el csv a nuestra carpeta data,llamándolo igual pero con un '_clean'
old_HDD.to_csv('../data/old_HDD_clean.csv', index=False)

In [9]:
str_conn = f'mysql+pymysql://root:password@localhost:3306/movieproject'
cursor = create_engine(str_conn)

In [12]:
old_HDD.to_sql(name='old_hdd',
            con=cursor,
            if_exists='replace',
            index=True)

1000

Dado que no está recomendado que el permanent key de una tabla sea tipo cadena, en este caso sí que he metido el index=True