#### Importado y exportado de archivos csv

Primera parte del MySQL_MovieProject

In [1]:
import pandas as pd # Importamos las librerías
import numpy as np
import re
from datetime import datetime

In [2]:
pd.set_option('display.max_columns', None)  # ver todas las columnas

In [3]:
path = '../data/film.csv'  

film = pd.read_csv(path)  

film.head()

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,NaN,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,NaN,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,NaN,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,NaN,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42

In [4]:
film.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   film_id               1000 non-null   int64
 1   title                 1000 non-null   object
 2   description           1000 non-null   object
 3   release_year          1000 non-null   int64
 4   language_id           1000 non-null   int64
 5   original_language_id  0 non-null      float64
 6   rental_duration       1000 non-null   int64
 7   rental_rate           1000 non-null   float64
 8   length                1000 non-null   int64
 9   replacement_cost      1000 non-null   float64
 10  rating                1000 non-null   object
 11  special_features      1000 non-null   object
 12  last_update           1000 non-null   object
dtypes: float64(3), int64(5), object(5)
memory usage: 101.7+ KB

* Con estas primeras 5 filas podemos ver que la columna `last_update` son iguales, si no hay mucha varianza o en otras palabras, si hay muchos valores fijos voy a droppear la columna. 
* Voy a comprobar si la varianza en la columna es baja o si hay pocos valores únicos si son todos iguales me voy a deshacer de ella.
* También podemos ver que en la columna `original_language_id` hay 0 valores no nulos -> nos la vamos a quitar

In [5]:
# Procedo a ver los valores únicos de la columna:
film.last_update.unique()

array(['2006-02-15 05:03:42'], dtype=object)

* Solo hay un tipo de valor en toda la columna -> me la puedo quitar con total confianza -> no nos aporta nada saber que los datos de las películas se actualizaron todos el mismo día y a la misma hora

In [6]:
film.drop(columns='last_update', inplace=True)
film.head()

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes"
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,NaN,3,4.99,48,12.99,G,"Trailers,Deleted Scenes"
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,NaN,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes"
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,NaN,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes"
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,NaN,6,2.99,130,22.99,G,Deleted Scenes

In [7]:
film.shape

(1000, 12)

* Tenemos una bbdd con 1000 películas - 12 columnas

* La columna special features está conformada por lista de facultades especiales de cada película - tampoco me interesa mucho separarl cada feature en una columna porque estaremos provocando valores nulos en aquellas filas que tengan un nº de features menor al máximo. 

* Pasamos a hacer drop de la columna `original_language_id` por ser todo valores nulos.

In [8]:
film.drop(columns = 'original_language_id', inplace=True)
film.head()

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes"
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,3,4.99,48,12.99,G,"Trailers,Deleted Scenes"
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes"
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes"
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,6,2.99,130,22.99,G,Deleted Scenes

In [12]:
film.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   film_id           1000 non-null   int64
 1   title             1000 non-null   object
 2   description       1000 non-null   object
 3   release_year      1000 non-null   int64
 4   language_id       1000 non-null   int64
 5   rental_duration   1000 non-null   int64
 6   rental_rate       1000 non-null   float64
 7   length            1000 non-null   int64
 8   replacement_cost  1000 non-null   float64
 9   rating            1000 non-null   object
 10  special_features  1000 non-null   object
dtypes: float64(2), int64(5), object(4)
memory usage: 86.1+ KB

Parece que el resto de columnas no tienen valores nulos. 

Vamos a pasar a comprobar que no haya títulos repetidos.

In [15]:
film.title.unique().size

1000

Si hay 1000 títulos únicos quiere decir que cada una de las mil películas de la bbdd tiene título diferente - no hay duplicados

In [16]:
# Aplicamos drop_duplicates porsiaca
film.drop_duplicates(inplace=True)

Vamos a comprobar los valores únicos de las columnas `release_year` y `language_id` porque en el head() ver que todos los valores son iguales.

Si fueran iguales todos los valores de dichas columnas vamos a eliminarlas porque no nos dan nada de informacion.

In [19]:
print(film.release_year.unique())
print(film.language_id.unique())

[2006]
[1]

De este output podemos extraer que TODOS las películas de la bbdd se estrenaron en 2016 y que TODAS las películas tienen únicamente un idioma. 
Vamos a borrar la columna de año pero quedarnos con la del idioma por si en el futuro nos puede venir bien mostrar a que idioma representa el id.

In [12]:
# Pasamos el csv a nuestra carpeta data,llamándolo igual pero con un '_clean'
#category.to_csv('../data/category_clean.csv', index=False)