#### Importado y exportado de archivos csv

Primera parte del MySQL_MovieProject

In [2]:
import pandas as pd # Importamos las librerías
import numpy as np
import re
from datetime import datetime

In [3]:
pd.set_option('display.max_columns', None)  # ver todas las columnas

In [4]:
path = '../data/category.csv'

category = pd.read_csv(path)

category.head()

   category_id       name          last_update
0            1     Action  2006-02-15 04:46:27
1            2  Animation  2006-02-15 04:46:27
2            3   Children  2006-02-15 04:46:27
3            4   Classics  2006-02-15 04:46:27
4            5     Comedy  2006-02-15 04:46:27

In [5]:
category.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   category_id  16 non-null     int64
 1   name         16 non-null     object
 2   last_update  16 non-null     object
dtypes: int64(1), object(2)
memory usage: 512.0+ bytes

* Con estas primeras 5 filas podemos ver que la fecha en la que se actualizan los nombres de cada actor son iguales. 
* Voy a comprobar si la varianza en la columna es baja o si hay pocos valores únicos si son todos iguales me voy a deshacer de ella.

In [6]:
# Procedo a ver los valores únicos de la columna:
category.last_update.unique()

array(['2006-02-15 04:46:27'], dtype=object)

* Solo hay un tipo de valor en toda la columna -> me la puedo quitar con total confianza -> no nos aporta nada saber que los datos de los actores se actualizaron todos el mismo día y a la misma hora

In [7]:
category.drop(columns='last_update', inplace=True)
category.head()

   category_id       name
0            1     Action
1            2  Animation
2            3   Children
3            4   Classics
4            5     Comedy

In [8]:
category.shape

(16, 2)

In [9]:
# Si son solo 16 voy a mostrarlos todos para echarles un ojo:
category.head(16)

    category_id         name
0             1       Action
1             2    Animation
2             3     Children
3             4     Classics
4             5       Comedy
5             6  Documentary
6             7        Drama
7             8       Family
8             9      Foreign
9            10        Games
10           11       Horror
11           12        Music
12           13          New
13           14       Sci-Fi
14           15       Sports
15           16       Travel

Tenemos 16 actores y 2 columnas después de habernos quitado el `last_update`

In [10]:
category.isnull().sum() # Comprobamos si hay nulos

category_id    0
name           0
dtype: int64

In [11]:
# Vamos a borrar duplicados si los hubiera:
category.drop_duplicates(inplace=True)

In [12]:
# Pasamos el csv a nuestra carpeta data,llamándolo igual pero con un '_clean'
category.to_csv('../data/category_clean.csv', index=False)